<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="2.1.2" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.1.2" targetFramework="net472" />
  <package id="OpenTK" version="3.0.1" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="Xamarin.CommunityToolkit" version="2.0.0" targetFramework="net472" />
  <package id="Xamarin.Forms" version="5.0.0.2291" targetFramework="net472" />
  <package id="Xamarin.Forms.Platform.WPF" version="5.0.0.2291" targetFramework="net472" />
  <package id="xunit" version="2.4.1" targetFramework="net472" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net472" />
  <package id="xunit.analyzers" version="0.10.0" targetFramework="net472" />
  <package id="xunit.assert" version="2.4.1" targetFramework="net472" />
  <package id="xunit.core" version="2.4.1" targetFramework="net472" />
  <package id="xunit.extensibility.core" version="2.4.1" targetFramework="net472" />
  <package id="xunit.extensibility.execution" version="2.4.1" targetFramework="net472" />
</packages>